$font-stack: "Roboto", Arial, Helvetica, sans-serif;
$font-title: "Montserrat", sans-serif;
$font-subtitle: "Kaushan Script", cursive;

$dark-red: #f38181;
$dark-yellow: #fce38a;
$grey: #eaffd0;
$light-blue: #95e1d3;